.env
**/.env
.idea/
*.pem
*.key

# Python
.venv/
**/__pycache__/
*.pyc

# Data & logs
*.db
*.sqlite
*.sqlite3
*.log
chroma_db/
**/chroma_db/

# OS / IDE
.idea/
.vscode/
.DS_Store

# Frontend
node_modules/
frontend/dist/